@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #3F3F46;
  --foreground: #FAFAFA;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3F3F46;
    --foreground: #FAFAFA;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-weight: bolder;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

label {
  font-size: x-large;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
